ButtonComponent {
	font-size: 8vh;
	font-weight: bold;
	text-shadow: 10px 10px 6px rgba(black, 0.5);
	letter-spacing: 2px;
	color: white;
	cursor: pointer;
	margin-top: -2vh;
	transform: scale(0.8);
	transition: transform 0.1s ease, color 0.1s ease;

	&:hover {
		transform: rotate(-2deg) scale(1);
		color: orange;
		sound-in: ui.button.over;
	}

	&:active {
		sound-in: ui.button.press;
	}
}
