{
  "Actions": [
    {
      "Name": "Tilt Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Tilt Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Tilt Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Tilt Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Spin Button",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "mouse1",
      "GamepadCode": "RightTrigger"
    },
    {
      "Name": "Spin Left",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "Q",
      "GamepadCode": "SwitchRightMenu"
    },
    {
      "Name": "Spin Right",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "E",
      "GamepadCode": "Y"
    },
    {
      "Name": "Rotation Reset",
      "GroupName": "Actions",
      "Title": null,
      "KeyboardCode": "R",
      "GamepadCode": "X"
    },
    {
      "Name": "Leaderboard",
      "GroupName": "Other",
      "Title": null,
      "KeyboardCode": "tab",
      "GamepadCode": "SwitchLeftMenu"
    }
  ],
  "__guid": "5a332281-9559-4b78-909c-96836ac41f94",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}
