@using Sandbox;
@using Sandbox.UI;
@using System;
@namespace Sandbox
@inherits Panel

<root>
	<label>@Label</label>
	<div class="bind @(IsRebinding ? "rebinding" : "")" onclick=@(() => Clicked?.Invoke())>
		<span class="text">@(IsRebinding ? L.T("controls.press_key") : Key)</span>
	</div>
</root>

@code
{
	[Parameter] public string Label { get; set; }
	[Parameter] public string Key { get; set; }
	[Parameter] public bool IsRebinding { get; set; }
	[Parameter] public Action Clicked { get; set; }

	protected override int BuildHash() => System.HashCode.Combine( Label, Key, IsRebinding );
}
